body{background-color: #FCFBFC;}

h1{background-color: #FDFDFD; 
color: #171717;  
margin-left: 10%;
padding: 0px; 
font-family: Arial;
font-size: 40px;
display: inline-block;}

.logo{width: 8vw;
height: 8vw;
filter: brightness(98%);
margin-left: 10vw;
margin-bottom: 0;
}

.line{display: inline-block;
  vertical-align: middle;
}

.hom{margin-left: 10vw;}

ul {list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FCFBFC;
}
              
li {display: inline-block;}
              
li a {display: block;
  color: black;
  text-align: center;
  padding: 1.4vw 1.6vw;
  text-decoration: none;
  font-family: Arial;
  font-size: 1.3vw;
  padding-right: 2vw;
  padding-left: 2vw;
  transition: color, background-color , 0.1s;
}
  
li a.active {
    color: #04AA6D;
}
  
li a:hover:not(.active) {
    background-color: #04AA6D;
    color: white;
}

.gfg {margin: 0%;
position: relative;}

.cover-photo {display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
height: 25vw;
object-fit: cover;
object-position: center;
margin-bottom: 0;
opacity: 1;
filter: brightness(85%);}

.first-txt {display: block;
position: absolute;
top: 4vw;
color: white;
font-size: clamp(1.75rem, 3.5vw, 3.5rem);
font-family: Arial;
width: 100%;
text-align: center;
}
    

button{
  background-color: yellow;
  padding: 0.7vw;
  padding-left: 1vw;
  padding-right: 1vw;
  border-radius: 2.5vw;
  border: none;
  position: absolute;
  top: 15vw;
  margin-left: 45vw;
  text-align: center;
  font-size: 1.3vw;
  font-family: Arial;
}

.link{
  color: black;
  transition: color 0.1s;
}

.link:hover{
  color: red;
}

.link.active {
  color: red;
}


.link{
  text-decoration: none;
}
            
p.description{margin-top: 4vw;
margin-bottom: 10vw;
font-family: Arial;
font-size: clamp(0.7rem, 1.2vw, 1.2rem);
line-height: clamp(1rem, 1.8vw, 1.8rem);
margin-left: 10vw;
margin-right: 10vw;
word-spacing: 0.1vw;}

.supply{font-size: 2.5vw;
text-align: center;
display: block;
margin-top: 6vw;
margin-bottom: 2vw;
font-family: Arial;}


.section{
  display: block;
  width: 100%;
}

.sub-section{
  display: inline-block;
  width: 30%;
  height: 100%;
}

.sub-section2{
  display: inline-block;
  width: 700px;
}

.first-para-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
}

.first-para{
width: 700px;
font-size: 120%;
}

.copyright{
  font-family: Arial;
  font-size: 1.3vw;
  text-align: center;
  margin-bottom: 4vw;
}
              

      





            

            


