*{
  margin: 0;
  padding: 0;
  font-family: Arial;  
}

body{background-color: #FCFBFC;}

.title-logo{
  border-radius: 5px;
}

.container{
  width: 100%;
  min-height: 100vh;
  padding-left: 0%;
  padding-right: 0%;
  box-sizing: border-box;
  overflow: hidden;
}

.navbar{
  width: 100%;
  display: flex;
  align-items: center;
  vertical-align: middle;
  padding-left: 8%;
}

.logo{width: 110px;
cursor: pointer;
margin: 20px 0px 30px;
filter: brightness(98%);
margin-bottom: 0;
}

.menu-icon{width: 150px;
  cursor: pointer;
  display: none;
  filter: brightness(98%);
}

nav{
text-align: right;
margin-left: 20%;
}

nav ul li {list-style: none;
  display: inline-block;
  margin-left: 0px;
  text-align: center;
}

nav ul li a {display: block;
  color: black;
  padding: 0.5em 0.5em;
  text-decoration: none;
  font-family: Arial;
  font-size: clamp(0.7rem, 1.2vw, 1.2rem);
  padding-right: clamp(1em, 1.2vw,1.2em);
  padding-left: clamp(1em, 1.2vw,1.2em);
  transition: color, background-color , 0.1s;
}

nav ul li a:hover:not(.active) {
  background-color: #04AA6D;
  color: white;
}

nav ul li a.active {
  color: #04AA6D;
}


@media only screen and (max-width:700px){

  nav ul{
    width: 100%;
    background: #FCFBFC;
    position: absolute;
    top: 120px;
    right: 0;
    z-index:2;
    text-align: center;
  }

  nav ul li{
    display: block; 
    margin-top: 5px;
    margin-bottom: 5px;
  }

  nav ul li a{
    color: black;
  }

  .menu-icon{
    display: block;
    text-align: right;
  }

  #menuList{
    overflow: hidden;
    transition: 0.5s;
  }

  .cover-photo{
    margin-top: 0px;
  }

}

              
li {display: inline-block;}
              
.gfg {margin: 0%;
position: relative;}

.cover-photo {display: flex;
margin-left: auto;
margin-right: auto;
width: 100%;
height: clamp(12rem, 24vw, 24rem);
object-fit: cover;
object-position: center;
margin-bottom: 0;
opacity: 1;
filter: brightness(85%);}

.first-txt {display: block;
position: absolute;
top: clamp(3.5rem, 7vw, 7rem);
color: white;
font-size: clamp(1.75rem, 3.5vw, 3.5rem);
font-family: Arial;
width: 100%;
text-align: center;
}
          
p.description{margin-top: 4vw;
margin-bottom: clamp(3em,6vw,6em);
font-family: Arial;
font-size: clamp(0.7rem, 1.2vw, 1.2rem);
line-height: clamp(1rem, 1.8vw, 1.8rem);
word-spacing: 0.2rem;
padding-left: 8%;
padding-right: 8%;
text-align: justify;}

.supply{font-size: clamp(1.3rem, 2.5vw, 2.5rem);
text-align: center;
color: red;
display: block;
margin-top: 6vw;
margin-bottom: 2vw;
font-family: Arial;}

.copyright{
  font-family: Arial;
  font-size: clamp(0.7rem, 1.2vw, 1.2rem);
  text-align: center;
  margin-bottom: clamp(2em,3vw,3em);
}
              

      





            

            


